<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Boot Exemple</title>

</head>
<body>

<a href="/product/new">New producto</a>
<div class="container">
    <div th:if="${not #lists.isEmpty(products)}">
        <h2>Product List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Acciones</th>
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}">Id</td>
                <td th:text="${product.name}">descirption</td>
                <td th:text="${product.price}">price</td>
                <td><a th:href="${ '/product/' + product.id}">Ver</a>
                    <a th:href="${ '/product/eliminar' + product.id}">Ver</a>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>